<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link href = "/css/bootstrap.css" rel = "stylesheet" >
  <link href = "/css/bootstrap-responsive.css" rel = "stylesheet">
  <link rel="stylesheet" href="/stylesheet.css">
  <title>Flixter</title>  
</head>
<body>
    <div class = "wrap">
     	<%= yield  %> <br>
  	</div>
  	<div class = "footer">
      <p>Copyright &copy; <%= Date.today.year %> Flixter </p>
	</div>  	
</body>
</html>