<div class = "header">
<h1> <a class = "headline" href = '/'> Flixter </a></h1>
<h5> Enter a movie name or IMDB id: </h5>
</div class = main>
<div class = "form">
<form method="get" action="/movies">
<input type ="text" name="title">
<input type="submit">
</form>
</div>
</div>